* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    background-color: #E5E5E5;
}

.sr-only {
    position: absolute; /* 독립되어 위치 하도록 함 */
    z-index: -100; /* 음수 값으로 우선순위를 낮춤 */
    width: 1px;
    height: 1px;
    overflow: hidden; /* 요소에서 넘어간 부분은 잘려서 보이지 않도록 처리 */
    opacity: 0; /* 요소가 완전히 투명해 보이지 않음 */
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 860px;
    padding: 24px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
    position: relative;
    border-radius: 6px;
    width: 300px;
    min-width: 300px;
    height: 200px;
    margin-right: 24px;
    background-image: url('./assets/house-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.like-button {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    background-image: url('./assets/icon-favorite.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center center;
    cursor: pointer;
}

.card-content {
    flex-grow: 1;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.super-badge {
    display: inline-block;
    padding: 1px 8px;
    margin-right: 6px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #92174D;
    text-transform: uppercase;
}

.property-stat {
    display: flex;
}

.property-stat strong {
    margin-right: 1px;
}

.property-stat::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 4px;
    background-image: url('./assets/icon-star.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.property-stat span::before {
    content: '(';
    margin-right: -4px;
}

.property-stat span::after {
    content: ')';
    margin-left: -4px;
}

.property-stat span {
    margin-right: -4px;
}

.card-title {
    margin-bottom: 16px;
}

.card-detail dd span::after {
    content: '·';
    margin: 0 10px;
}

.card-detail dd span:last-child::after {
    content: '';
    margin: 0;
}

.property-condition {
    margin-bottom: 8px;
}